#roll1{
    background-image: url(../cocktail_images/Manhattan.JPEG);
    }
    #roll1:hover{
    background-image: url(../cocktail_images/OldFashionedB.jpg);
    }
    #roll2{
    background-image: url(../cocktail_images/Martini.JPEG);
    }
    #roll2:hover{
    background-image: url(../cocktail_images/MartiniB.jpg);
    }
    #roll3{
    background-image: url(../cocktail_images/Sour.JPEG);
    }
    #roll3:hover{
    background-image: url(../cocktail_images/DaiquiriB.jpg);
    }
    #roll4{
    background-image: url(../cocktail_images/Margarita.JPEG);
    }
    #roll4:hover{
    background-image: url(../cocktail_images/SidecarB.jpg);
  
    } 
    #roll5{
    background-image: url(../cocktail_images/Cuba_Libre.JPEG);
    }
    #roll5:hover{
    background-image: url(../cocktail_images/HighballB.jpg);
    }
    #roll6{
    background-image: url(../cocktail_images/Pina_Colada.JPEG);
    }
    #roll6:hover{
    background-image: url(../cocktail_images/FlipB.jpg);
    }
    [id^=roll]:hover{
        transition: .9s;
    filter: grayscale(100%);
    }